<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{'/style/style.css' || url}}">
</head>
<body>

{{ content | safe }}

<footer>
  <a href="https://gitlab.com/larsthorup/site12/blob/master/{{ page.inputPath }}">Edit on GitLab</a>
</footer>

</body>
</html>
