---
layout: html-en
---
<h1>{{title}}</h1>

<h2>Menu</h2>
<ul>
    <li><a href="{{'/' | url}}">Home</a></li>
    <li><a href="{{'/en/services/' | url}}">Services</a></li>
    <li><a href="{{'/en/projects/' | url}}">Projects</a></li>
    <li><a href="{{'/en/about/' | url}}">About</a></li>
    <li><a href="{{'/da/' | url}}">Dansk</a></li>
</ul>

{{ content | safe }}
