---
layout: html-en
---
<h1>{{title}}</h1>

<h2>Menu</h2>
<ul>
    <li><a href="{{'/da/' | url}}">Forside</a></li>
    <li><a href="{{'/da/services/' | url}}">Ydelser</a></li>
    <li><a href="{{'/da/about/' | url}}">Om os</a></li>
    <li><a href="{{'/' | url}}">English</a></li>
</ul>

{{ content | safe }}
