---
layout: html-en
---
<h2>Menu</h2>
<ul>
    <li><a href="{{'/' | url}}">Home</a></li>
    <li><a href="{{'/en/services/' | url}}">Services</a></li>
    <li><a href="{{'/en/about/' | url}}">About</a></li>
    <li><a href="{{'/da/' | url}}">Dansk</a></li>
</ul>

<h2>{{title}}</h2>

<p>Published: {{ page.date | date: '%Y-%m-%d' }}</p>

{{ content | safe }}
