<ul>
    {%- for post in collections.postRecent limit:2 -%}
    <li>
        <a href="{{post.data.permalink  | url}}">
            {{ post.data.title }} - {{ post.data.date | date: '%Y-%m-%d' }}
        </a>
    </li>
    {%- endfor -%}
</ul>
